*{
    color: black;
    /* font-size: 20px; */
}

.valido{
    font-size: 16px;
    color: rgb(45, 234, 127);
    margin-top: 10px;
}

.invalido{
    color: rgb(240, 61, 61);
    font-size: 16px;
    margin-top: 10px;

}

.containerForm{
    width: 80%;
    margin: 0 auto;
    padding: 5vh 5vh;
    
}

.sombras {
    box-shadow: 15px 16px 31px 2px rgba(0,0,0,1);
}

.form{
    padding: 5vh 5vh;
}
