<div class="container">
    <mat-card>
        <mat-card-title class="title">Bienvenido!</mat-card-title>
        <mat-card-subtitle class="subtitle">Como usar:</mat-card-subtitle>
        <mat-card-content>
            <p class="text">Para navegar en la pagina web se puede utilizar los links en la barra de navegacion para un acceso rapido y sencillo.</p>
            <p class="text">Si se quiere acceder a traves de la url tambien se puede , siendo las rutas estas: </p>
            <ul>
                <li>
                    <b>/cursos</b> Te dirige directamente al listado de cursos
                </li>
                <li>
                    <b>/alumnos</b> Te dirige directamente al listado de cursos
                </li>
            </ul>
            <p class="text">En la parte superior aparece un boton, el cual acciona el slide de la navegacion lateral.</p>
            <p class="text">Ahi se pueden encontrar acciones para agregar nuevos usarios a la base de datos para testear las funcionalidades</p>
        </mat-card-content>
      </mat-card>
</div>
