.container {
    width: 77%;
    margin: auto;
    margin-bottom: 5vh;
    
}

.background{
    background-color: rgb(248,249,250);
    padding: 10vh 2vh 10vh 2vh;
    margin: auto;
    border-radius: 5px;
    border: rgba(121, 121, 121, 0.705) 2px solid;;
}

.mat-mdc-table{
    background-color: rgb(37, 36, 36);
    /* color: #4caf4f81 */
}


